/**
 * Base typography styles
 */
code, samp {

    @include font-size($mono-size);
    font-family: $mono-font-family;
    line-height: 1.25;
//    background: #f6f6f6;
    padding: 0px 3px;
    border-radius: 3px;
    border: 1px solid darken(#f6f6f6, 5%);
}
pre code {
//    background: $navy;
    padding: 0px;
    border: 0;
}

$spacing: $base-spacing+$half-spacing;

/**
 * The wrapper that is provided by the syntax highlighter
 */
.highlight {

    background: #FBFBFB;
    padding: $half-spacing;
    margin-left: -$half-spacing;
    margin-right: -$half-spacing;
    margin-bottom: $base-spacing;
    border: 1px solid darken(#FBFBFB, 4%);
    border-radius: 0;
    margin-top: 40px;

    &:last-child {

        margin-bottom: 0;

        @media (min-width: $lap-start) {

            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    @media (min-width: $lap-start) {

        padding: $spacing;
        margin-left: -$spacing;
        margin-right: -$spacing;
        margin-bottom: $base-spacing*2;
    }

    pre {

        padding: 0;
        max-width: $page-width;
        display: block;
        white-space: pre;
        word-wrap: normal;
        margin: 0 auto;
    }
}

code {

//    color: $teal;
}

pre {

    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: $half-spacing/2 $half-spacing;
//    color: $white;
//    background: white;
    border-radius: $half-radius;

    code {
//        color: $white;
        line-height: 1.25;
    }
}
